html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: all 0.5s;
}
form {
  display: flex;
}

.header,
.footer {
  height: 8%;
  background-color: pink;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__button {
  border: 2px solid orange;
  border-radius: 5px;
  color: orange;
  background: none;
  margin: 5px;
}
.nav__button:hover {
  cursor: pointer;
}
.selected {
  background-color: orange;
  color: white;
  font-weight: bold;
}
.todos {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.todos > section {
  flex: 1 0 auto;
}
.todos > section h2 {
  text-align: center;
  border-bottom: 3px double pink;
  border-top: 3px double pink;
  margin: auto 10px;
  padding: 5px;
}
.todos__items {
  flex-grow: 1;
  list-style: square;
  padding-left: 20px;
  margin: 10px;
  padding-top: 1px;
  background-color: ivory;
}
.todos__item {
  display: list-item;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px dotted orange;
}
.todos__item-wrap {
  display: flex;
  justify-content: space-between;
}
.todos__delete {
  border: none;
  background: none;
  color: orange;
}
.todos__delete:hover {
  cursor: pointer;
  font-weight: bold;
}
.todos__add-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.todos__add {
  width: 30px;
  height: 30px;
  border: 3px solid orange;
  border-radius: 15px;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}
.todos__input {
  height: 25px;
  width: 30vw;
  margin-right: 15px;
  border: 1px dotted orange;
}
.todos__input:focus {
  outline-color: orange;
}
